html,
body,
#root {
  height: 100vh;
  background-image: url("./assets/news-background.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav {
  background-color: #91c79f;
}
