.container {
  display: inline-block;
}

.typed-out-1,
.typed-out-2,
.typed-out-3 {
  white-space: nowrap;
  overflow: hidden;
  margin: 0%;
  font-family: "Major Mono Display", monospace;
  font-size: 5vw;
  font-weight: bold;
}

.typed-out-1 {
  animation: animated-text__1 2s steps(30, end) 1s 1 normal both;
}

.typed-out-2 {
  animation: animated-text__2 2s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.typed-out-3 {
  animation: animated-text__3 2s steps(30, end) 1s 1 normal both;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
