.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 75%;
  height: 350px;
}

.card-header {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: blue;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.inputs {
  margin: 20px;
}

.submit-button {
  margin-bottom: 15px;
}
