.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  animation-duration: 1s;
  animation-name: fadein;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  min-width: 250px;
  height: auto;
  background-color: #91c79f;
  font-family: "Roboto", sans-serif;
}

.card-header {
  font-size: 30px;
  color: white;
  margin: auto;
  display: table;
  padding-top: 15px;
}

.inputs {
  margin: 20px;
}

.submit-button {
  margin-bottom: 15px;
  width: 100%;
  opacity: 0.75;
  background-color: #c19434;
  border-color: #c19434;
  color: white;
}

.submit-button:hover {
  background-color: #dbba00;
  color: white;
  border-color: white;
}

.text-link {
  color: white;
  text-decoration: inherit;
  font-size: 18px;
}

.text-link:hover {
  color: white;
  font-weight: bold;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}